DB_HOST=<valor do MYSQLHOST>
DB_PORT=<valor do MYSQLPORT>
DB_NAME=<valor do MYSQLDATABASE>
DB_USER=<valor do MYSQLUSER>
DB_PASSWORD=<valor do MYSQLPASSWORD>
DB_ROOT_PASSWORD=<valor do MYSQL_ROOT_PASSWORD>
JWT_SECRET=minha-chave-jwt-do-projeto